@page
@model PokeCenter.web.Pages.Pods

@{
    ViewData["Title"] = "Healing Pods";
}

<h1 class="display-4">Healing pods</h1>

<div class="list-group">
    @foreach (var pod in @Model.ViewModel)
    {
        <a asp-page="Pod" asp-route-podId="@pod.Id"
           class="list-group-item list-group-item-action">@pod.Id (@pod.CurrentCapacity/@pod.MaxCapacity)
        </a>
    }
</div>

<form method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="MaxCapacity">Max capacity of bay</label>
        <input class="form-control" asp-for="MaxCapacity">
    </div>
    <button type="submit" class="btn btn-primary">Create pod</button>
</form>